@tailwind base;
@tailwind components;
@tailwind utilities;

/*Common stylings*/
.btn-primary {
  @apply bg-primary flex items-center gap-2 text-white font-bold uppercase ml-0 px-4 py-2 rounded-full shadow outline-none  hover:shadow-lg hover:bg-secondary focus:outline-none ease-linear transition-all duration-150 focus:ring-4 focus:ring-inset focus:ring-gray-600;
}

.btn-secondary {
  @apply bg-white flex items-center gap-2 text-primary font-bold uppercase px-4 py-2 rounded-full shadow outline-none  hover:shadow-lg hover:bg-primary hover:text-white focus:outline-none ease-linear transition-all duration-150 focus:ring-4 focus:ring-inset focus:ring-gray-600;
}

.h2 {
  @apply text-4xl font-semibold text-center mb-12;
}

/*Animation*/
.animation-hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(30%);
  transition: all 1s;
}

.animation-show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

@media (prefers-reduced-motion) {
  .animation-hidden {
    transition: none;
  }
}

/*Hamburger Menu*/
.hamburger {
  --button-color: #333;
  background: transparent;
}

.hamburger .line {
  transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
  transform-origin: center;
}

.hamburger[aria-expanded="true"] .line {
  transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
}

.hamburger[aria-expanded="true"] :is(.top, .bottom) {
  y: 45;
}

.hamburger[aria-expanded="true"] .top {
  rotate: 45deg;
}

.hamburger[aria-expanded="true"] .middle {
  opacity: 0;
}

.hamburger[aria-expanded="true"] .bottom {
  rotate: -45deg;
}

.mobile-menu-closed {
  transform: translateX(100%);
}

.mobile-menu-open {
  transform: translateX(0);
}
